<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="//div-wang.com/favicon.jpg">
    <title>Div-wang</title>
    {% include 'static/common.html' %}
</head>

<body>
    {% include 'common/head.html' %}
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2>Read Me {% include 'icons/github.html' %} {% include 'icons/sina.html' %} {% include 'icons/zhihu.html' %} {% include 'icons/google.html' %} </h2>
            <h3>二流前端攻城狮，三流全栈，伪文艺青年</h3>
            <h3>马拉松爱好者，梦想开一家餐馆</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="about">
        <div class="container">
            <div class="section-left">
                About
            </div>
            <ul class="section-main">
                <li>有丰富的web前端和H5开发经验，能解决各浏览器的兼容性、网页性能优化等问题;</li>
                <li>熟悉前端架构，了解前端自动化，开发过多个vue和vue ssr项目</li>
                <li>了解 Native APP，开发过ionic2 和 React Native APP;</li>
                <li>开发过基于 NodeJs 的 rest Api 项目，了解mongoDB和mysql; </li>
                <li>熟悉linux开发，熟练使用linux、nginx、git 、vim等各种工具; </li>
                <li>热心于开源，element ui和 vue-awesome-swiper贡献代码；</li>
                <li>善于总结、思考解决问题的各种方法和思路，能自己快速解决各种技术问题;</li>
                <li>喜欢折腾各种新老技术，喜欢记录自己学习的过程；</li>
            </ul>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container">
            <div class="section-left">
                Company
            </div>
            <div class="section-main">
                <div class="member">
                    <a class="member-name" target="_blank" href="https://www.tinfinite.com/"> 进入知识付费市场，接触到区块链 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2017-05 - 至今</span>
                        情非得已（北京）科技有限公司
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.hejinonline.com/"> 接触大数据和 ocr，开始管理团队，学到了很多技术之外的东西 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2015-05 - 2017-05</span>
                        和金在线（北京）科技有限公司
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.39yst.com"> 开始北漂，不断学习，和三九养生堂前端团队一块成长 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2014-02 - 2015-05</span>
                        三九养生堂
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.ruizhiqi.com/"> 工作开始的地方，不断学习成为一名网站美工 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2013-02 - 2014-01</span>
                        河南锐之旗信息技术有限公司
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'common/foot.html' %}
</body>

</html>
