<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="//div-wang.com/favicon.jpg">
    <title>Div-wang</title>
    {% include 'static/common.html' %}
</head>

<body>
    {% include 'common/head.html' %}
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2>Read Me {% include 'icons/github.html' %} {% include 'icons/sina.html' %} {% include 'icons/zhihu.html' %} {% include 'icons/google.html' %} </h2>
            <h3>二流前端攻城狮，三流全栈，伪文艺青年</h3>
            <h3>马拉松爱好者，梦想开一家餐馆</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="about">
        <div class="container">
            <div class="section-left">
                About
            </div>
            <div class="section-main">
                <div>有丰富的web前端和H5开发经验，能解决各浏览器的兼容性、网页性能优化等问题;</div>
                <div>熟悉前端架构，做过nodejs的后端api项目，angular的项目，vue和vue ssr的项目；</div>
                <div>熟悉node js的后台开发，前端自动化。也了解mongoDB和mysql; </div>
                <div>熟悉angular,vue,react等框架;</div>
                <div>熟悉linux开发，了解linux、nginx、git 、vim等命令; </div>
                <div>热心于开源，element ui和 vue-awesome-swiper贡献代码；</div>
                <div>善于总结、思考解决问题的各种方法和思路，能自己快速解决各种技术问题;</div>
                <div>喜欢折腾各种新老技术，自己喜欢记录自己学习的各种过程到博客；</div>
            </div>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container">
            <div class="section-left">
                Company
            </div>
            <div class="section-main">
                <div class="member">
                    <a class="member-name" target="_blank" href="https://www.tinfinite.com/"> 进入知识付费市场，接触了更多的前端技术 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2017-05 - 至今</span>
                        情非得已（北京）科技有限公司
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.hejinonline.com/"> 加入创业公司，接触大数据和 ocr，开始带团队 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2015-05 - 2017-05</span>
                        和金在线（北京）科技有限公司
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.39yst.com"> 开始北漂，靠着不断自学，撑起了39的整个前端 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2014-02 - 2015-05</span>
                        三九养生堂
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="http://www.ruizhiqi.com/"> 我本来是个实习生，努力变成了网站美工 {% include 'icons/link.html' %}</a>
                    <div class="member-skills">
                        <span class="dateStr">2013-02 - 2014-01</span>
                        河南锐之旗信息技术有限公司
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'common/foot.html' %}
</body>

</html>
