<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="3rhfbGcKOa" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="//div-wang.com/favicon.jpg">
    <title>Div-wang</title>
    {% include './static/common.html' %}
    {% include './static/gtag.html' %}
</head>

<body>
    {% include './common/head.html' %}
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2 style="text-align:center">Read Me {% include './icons/github.html' %} {% include './icons/sina.html' %} {% include './icons/zhihu.html' %} {% include './icons/google.html' %} </h2>
            <h3 style="text-align:center">我的技术随想录</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container section-line">
            <div class="section-main">
                {% include './common/list.html' %}
            </div>
            <a href="javascript:;" id="loadMore"><img src="https://loading.io/spinners/comets/lg.comet-spinner.gif">点击加载更多</a>
        </div>
    </section>
    {% include './common/foot.html' %}
</body>

</html>
